/* Welcome screen */
#new-entry-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--border-width) solid var(--on-background);
  border-radius: var(--space-gargantua);
  padding: var(--space);
  transition: 0.3s ease-in-out;
}
#new-entry-btn:active {
  background-color: var(--on-background);
  color: var(--background);
}

#new-entry-btn img {
  height: var(--space-bigger);
  width: var(--space-bigger);
}

#new-entry-btn:active img {
  filter: invert(1);
}

#sessions-list {
  display: flex;
  flex-direction: column;
  gap: var(--space);
}

.session-card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: var(--space-small);
  border: var(--border-width) solid var(--on-background);
  border-radius: var(--space-bigger);
  padding: var(--space-small) var(--space) var(--space) var(--space-big);
}

.session-tools {
  display: flex;
  gap: var(--space-small);
  align-items: center;
}

.session-times {
  opacity: 0.75;
}

.session-curve-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--space-bigger);
  height: var(--space-bigger);
  background: var(--on-background);
  border-radius: var(--space-gargantua);
  border: var(--border-width) solid var(--background);
  overflow: hidden;
}

.session-curve-icon img {
  width: calc(var(--space-bigger) - var(--border-width) * 2);
  height: calc(var(--space-bigger) - var(--border-width) * 2);
  filter: invert();
}
