body {
  margin: 0;
  color: grey;
  font-family: Monospace;
  font-size: 13px;
  line-height: 24px;
  overscroll-behavior: none;
}

#title {
  z-index: 9999;
  position: absolute;
  top: 0px;
  width: 100%;
  color: #ffffff;
  text-align: center;
}

#color {
  z-index: 9999;
  position: fixed;
  left: 10px;
  top: 50px;
  width: calc(100vw - 20px);
  height: 50px; /**/
  box-sizing: border-box;
  background-color: red;
  border-radius: 1000px;
}

.lil-gui {
  z-index: 2 !important; /* TODO Solve this in HTML */
}

@media all and (max-width: 640px) {
  .lil-gui.root {
    right: auto;
    top: auto;
    max-height: 50%;
    max-width: 80%;
    bottom: 0;
    left: 0;
  }
}

#notSupported {
  width: 50%;
  margin: auto;
  background-color: #f00;
  margin-top: 20px;
  padding: 10px;
}
