:root {
  --background: black;
  --on-background: white;
  --helper: #404040;
  --border-width: 2px;

  /* --space-smallest: 4px;
  --space-small: 8px;
  --space: 16px;
  --space-big: 24px;
  --space-bigger: 32px;
  --space-biggest: 64px;
  --space-giant: 72px;
  --space-gargantua: 128px; */

  --space: 20px; /*16px;*/
  --space-smallest: calc(var(--space)/4);
  --space-small: calc(var(--space)/2);
  --space-big: calc(var(--space)/2 * 3);
  --space-bigger: calc(var(--space) * 2);
  --space-biggest: calc(var(--space) * 4);
  --space-giant: calc(var(--space) * 6);
  --space-gargantua: calc(var(--space) * 8);
}

@keyframes page-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  height: 100svh;
  width: 100svw;
  margin: 0;
  background-color: var(--background);
  color: var(--on-background);
  display: flex;
  flex-direction: column;
  font-family: Monospace;
  /* font-size: 13px; */
  /* line-height: 24px; */
  overscroll-behavior: none;
  box-sizing: border-box; /*include padding and border in widht/height */
  animation: page-fade 0.6s ease;
}

body.leaving {
  animation: page-fade 0.4s ease reverse forwards;
  pointer-events: none;
}
h1,
h2,
h3,
p {
  margin-block-start: 0;
  margin-block-end: 0;
}
button {
  width: var(--space-bigger);
  height: var(--space-bigger);
  background-color: var(--background);
  border: none;
  cursor: pointer;
  padding: 0;
  border-radius: var(--space-gargantua);
  transition: 0.3s ease-in-out;
}
button:active {
  transform: scale(0.96);
  background-color: var(--on-background);
}

button:active img {
  filter: invert(1);
}

#title {
  text-align: center;
  width: 100%;
}

.container-info {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: var(--space);
  gap: var(--space);
}
.line {
  height: var(--space-bigger);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Radiobutton */

.radio-button-picker {
  display: flex;
  gap: var(--space-small);
  border: none;
  padding: 0;
}

.radio-button {
  /* width: var(--space-bigger);
  height: var(--space-bigger); */
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: var(--space-bigger);
  height: var(--space-bigger);
  border: var(--border-width) solid var(--on-background);
  border-radius: var(--space-small);
  background: transparent;
  cursor: pointer;
  transition: 0.15s ease-in-out;
  overflow: hidden;
}

.radio-button input[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.radio-button img {
  height: calc(var(--space-bigger) - var(--border-width) * 2);
  width: calc(var(--space-bigger) - var(--border-width) * 2);
}

.radio-button:has(input[type="radio"]:checked) {
  background: var(--on-background);
  border-radius: var(--space-gargantua);
  border: var(--border-width) solid var(--background);
}

.radio-button:has(input[type="radio"]:checked) img {
  filter: invert();
}

.radio-button-text {
  box-sizing: border-box;
  height: var(--space-bigger);
  padding: 0 var(--space-small);
}

.radio-button-text:has(input[type="radio"]:checked) {
  color: var(--background);
}
